@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font family added */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

.brand-color{
  color: #FF5400;
}

.white-color{
  color: #ffffff;
}

.dark-color{
  color: #131318;
}

.mob-hide{
  display: none;
}

.display-flex{
  display: flex;
}

.align-center{
  text-align: center;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.logo{
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
}

.heading{ 
  font-size: 4rem;
  font-weight: 800;
  line-height: 120%;  
}

.section-title{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 120%;
}

.column-title{
  font-size: 1.625rem;
  font-weight: 800;
  line-height: 120%;
}

.para{
  color: #131318b3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}

/* global css ends */

.navbar{
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
}

.logo-container{
  gap: 1rem;
}

.nav-container ul{
  gap: 2.75rem;
  list-style: none;
}

nav li a{
  text-decoration: none;
  color: #424247;
}

nav li .active{
  font-weight: 700;
}