@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font family added */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.sc-hide{
  display: none;
}

.display-flex{
  display: flex;
}

.align-center{
  text-align: center;
  max-width: 33.75rem;
  margin: 0 auto;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.logo{
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
}

.heading{
  font-size: 4rem;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.section-title{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.column-title{
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.para{
  color: #131318b3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.brand-color{
  color: #FF5400;
}

.white-color{
  color: #ffffff;
}

.dark-color{
  color: #131318;
}

.btn{
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 120%;
  padding: 0.875rem 2rem;
  background: #FF5400;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

/* global css ends */
/* navbar starts */
.navbar{
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
}

.logo-container{
  gap: 1rem;
}

.nav-container ul{
  gap: 2.75rem;
  list-style: none;
}

nav li a{
  text-decoration: none;
  color: #424247;
}

nav li .active{
  font-weight: 700;
}
/* navbar ends */
/* banner starts */
.banner{
  padding: 7rem 10rem;
  background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.43),rgba(19, 19, 24, 0) 100%), url('../images/banner.png');
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner form{
  margin-top: 3rem;
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  gap: 1.5rem;
}

form input,
form select,
form .btn{
  font-size: 1rem;
  font-weight: 400;
  width: 25%;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
}
/* banner ends */
/* popular section starts */
.popular{
  gap: 3.3125rem;
  margin: 5rem auto;
}

.popular .popular-text-container{
  width: 56%;
}

.popular .popular-image-container img{
  width: 100%;
  border-radius: 1rem;
}
/* popular section ends */
/* about-us section starts */
.about-us>p{
  max-width: 33.75rem;
  margin: 1.5rem auto 3rem;
}
.icon-box-container{
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.icon-box{
  padding: 2rem 2rem .5rem;
  border-radius: 1rem;
  width: calc(51.1% - 1.5rem);
}

.icon-box img{
  margin-bottom: 1.5rem;
}

.box-1{
  background: rgba(251, 181, 101, 0.05);
  border: 1px solid rgba(251, 181, 101, 0.2);
}

.box-2{
  background: rgba(41, 205, 246, 0.05);
  border: 1px solid rgba(41, 205, 246, 0.2);
}

.box-3{
  background: rgba(233, 68, 68, 0.05);
  border: 1px solid rgba(233, 68, 68, 0.2);
}
/* about-us section ends */
/* packages section starts */
.packages{
  margin-top: 5rem;
}
.package-1{
  background: url('../images/discount-1.png');
  position: relative;
}

.package-1 .package-box-container{
  position: absolute;
  right: 3rem;
}

.package-2{
  background: url('../images/discount-2.png');
}

.package{
  margin-top: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  border-radius: 1rem;
  height: 28.43rem;
  margin-top: 2rem;
}

.package-box-container{
  padding: 3rem;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.person,.place,.limit{
  gap: .5rem;
}

.short-info{
  gap: 1rem;
  flex-wrap: wrap;
}

.price{
  font-size: 1.25rem;
  font-weight: 800;
  margin: -.5rem 0 1rem;
}

.all-packages{
  margin: 3rem auto 0;
}
/* packages section ends */
/* video section starts */
.video{
  gap: 1.75rem;
  margin: 5rem auto;
}

.video .video-text-container{
  width: 56%;
}

.video-text-container ul li{
  color: #131318;
  font-weight: bold;
}

.video .video-container img{
  margin-top: 2%;
  width: 100%;
  border-radius: 1rem;
}
/* video section ends */






@media screen and (max-width:576px) {

  .container{
    width: 90%;
  }

  .logo{
    font-size: 1.5rem;
  }
  
  .heading{
    font-size: 1.5rem;
  }
  
  .section-title{
    font-size: 1.25rem;
  }
  
  .column-title{
    font-size: 1.25rem;
  }

  .sc-hide{
    display: block;
  }

  .mob-hide{
  display: none;
}
/* global css for mobile device ends */

  .navbar{
    margin: 2rem auto;
  }

  .logo-container{
    gap: .5rem;
    align-items: center;
  }


  .logo-container img{
    width: 15%;
  }


  .banner{
    padding: 2rem 1rem;
  }

  .banner form{
    flex-direction: column;
    gap: 1rem;
  }
  
  form input,
  form select,
  form .btn{
    width: 100%;
  }
  
  .popular,
  .video{
    gap: 1.5rem;
    flex-direction: column;
    margin: 2rem auto;
  }

  .popular .popular-text-container,
  .video .video-text-container{
    width: 90%;
    margin: 0 auto;
  }
  
  .icon-box{
    width: 100%;
  }

  .packages{
    margin: 2rem auto;
  }

  .package{
    padding: 2rem;
    width: 100%;
  }

  .package-box-container{
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .short-info p{
    margin: 0;
  }

  .package h3{
    margin-top: 1.5rem;
  }

  .package-1 .package-box-container{
    position: relative;
    right: 0;
  }

  




}